<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='twitter:card' content="summary_large_image">
    <meta property='og:type' content="website">
    <meta property='og:url' content="https://www.motorious.com">
    <meta property='og:title' content="Motorious">
    <meta property='og:description' content="The largest collector car marketplace. Tailored to your passion.">
    <meta name="description" content="The largest collector car marketplace. Tailored to your passion.">
    <meta property='og:image' content="https://s3.amazonaws.com/soon.motorious.com/images/motorious_social_image.jpg">
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NQ2XZ7L');</script>
    <!-- End Google Tag Manager -->
    <script type="text/javascript">
       var _ss = _ss || [];
       _ss.push(['_setDomain', 'https://koi-3QNHP1TL0G.marketingautomation.services/net']);
       _ss.push(['_setAccount', 'KOI-42TPY0ZK20']);
       _ss.push(['_trackPageView']);
      (function() {
         var ss = document.createElement('script');
         ss.type = 'text/javascript'; ss.async = true;
         ss.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'koi-3QNHP1TL0G.marketingautomation.services/client/ss.js?ver=1.1.1';
         var scr = document.getElementsByTagName('script')[0];
         scr.parentNode.insertBefore(ss, scr);
      })();
    </script>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <link rel="canonical" href="https://www.motorious.com" />
    <title><%= current_page.data.title || "Motorious" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "jquery.easing.1.3" %>
    <%= javascript_include_tag "jquery.scrollify" %>
    <%= javascript_include_tag "site" %>

  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQ2XZ7L"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
  </body>
</html>
