---
title: Motorious
---

.wrapper
  .section.top.d-flx.evenly
    =link_to image_tag('images/motorious.svg', alt: 'Motorious Logo'), '/', class: 'mtrs-logo'
    %h1
      %span.bold
        The largest collector car marketplace.
      %br
      Content tailored to your passion.
    =link_to 'See the brands behind motorious', '#', class: 'ta-center fw stat next first'
  .expand
    %p.ta-center
      Request early access
    %form.req-form{:id => 'ss-submit'}
      %input{ :type => "radio", :name => "req_type", :value => "Shopper", checked: true, id: "shopper"}
      %label{ :for => "shopper" }
        Shopper
      %input{ :type => "radio", :name => "req_type", :value => "Reader", checked: false, id: "reader" }
      %label{ :for => "reader" }
        Reader
      %input{ :type => "email", :placeholder => 'Enter email', :required => true , :name => "email", :id => 'email'}
      %input{ :type => "submit" }
  = link_to 'https://sam.motorious.com/asi-dealer-signup-2/', target: '_blank', class: 'dealer-link ta-center' do
    %span
      Dealer?
    %span.underline
      Click Here
  .section
    .bg-num.first{ data: {'position' => '1'}}
      = image_tag('images/200+.svg')
    .section-content
      =link_to 'Back To Top', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/speeddigital.png', alt: 'Speed Digital Logo'), 'https://speeddigital.com', target: '_blank', class: 'section-logo'
        %h2 Over 200 of the top specialty dealers, auctions, and collectors on our leading dealer management software.
        %p Speed digital is a leading technology and solutions provider which specializes in the classic and collector car industry. With a best in class inventory management system, award-winning website development, and digital & marketing solutions, Speed Digital is the one-stop-shop for all your specialty dealer needs.
        =link_to 'Visit Speed Digital', 'https://speeddigital.com', target: '_blank', class: 'arrow-link'
      =link_to 'Next Stat', '#', class: 'ta-center fw stat next'
  .section
    .bg-num.sec{ data: {'position' => '2'}}
      = image_tag('images/10k+.svg')
    .section-content
      =link_to 'Previous Stat', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/mcg.png', alt: 'My Classic Garage Logo'), 'https://myclassicgarage.com', target: '_blank', class: 'section-logo'
        %h2 Over 10,000 classic and specialty listings from the most trusted dealers and auctions in the industry.
        %p My Classic Garage is a classic  and collector car marketplace which publishes vehicles by vetted and established knowledgeable experts in their field. Powered by Speed Digital’s inventory management system, over 10,000 collector car listings from the most trusted dealers and auction houses in the industry are easily accessible to any buyer.
        =link_to 'Visit My Classic Garage', 'https://myclassicgarage.com', target: '_blank', class: 'arrow-link'
      =link_to 'Next Stat', '#', class: 'ta-center fw stat next'
  .section
    .bg-num.third{ data: {'position' => '3'}}
      = image_tag('images/40k+.svg')
    .section-content
      =link_to 'Previous Stat', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/ac.png', alt: 'Auto Classics Logo'), 'https://autoclassics.com', target: '_blank', class: 'section-logo'
        %h2 40k+ classic and specialty listings from across the world. With thousands of industry specific articles and buying guides.
        %p AutoClassics is a global marketplace and information hub for collector cars. Offered for sale by dealers and private owners are 40,000 listings from around the world with thousands of industry-specific articles and buying guides from Motorsport Network’s renowned editorial staff.
        =link_to 'Visit AutoClassics', 'https://autoclassics.com', target: '_blank', class: 'arrow-link'
      =link_to 'Next Stat', '#', class: 'ta-center fw stat next'
  .section
    .bg-num.fourth{ data: {'position' => '4'}}
      = image_tag('images/9000.svg')
    .section-content
      =link_to 'Previous Stat', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/motorgt.png', alt: 'Motor GT Logo'), 'https://motorgt.com', target: '_blank', class: 'section-logo'
        %h2 Over 9000 exotic, luxury, and race cars for sale.
        %p MotorGT is the most efficient way to advertise, connect, and sell your new and pre-owned vehicles to qualified in-market shoppers. 10,000 exotic, luxury, and race cars are listed for sale from MotorGT’s network of trusted dealers and are backed by a proprietary price tracker which follows the market and its trends.
        =link_to 'Visit MotorGT', 'https://motorgt.com', target: '_blank', class: 'arrow-link'
      =link_to 'Next Stat', '#', class: 'ta-center fw stat next'
  .section
    .bg-num.fifth{ data: {'position' => '5'}}
      = image_tag('images/12M.svg')
    .section-content
      =link_to 'Previous Stat', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/ferrarichat.png', alt: 'Ferrari Chat Logo'), 'https://ferrarichat.com', target: '_blank', class: 'section-logo'
        %h2 Over 12 million posts with 175k registered users.
        %p Established in 2000, FerrariChat is the largest and most active Ferrari community in the world. Since then, over 12 million posts and thousands of classifieds have been created amongst the 175,000 active registered users.
        =link_to 'Visit FerrariChat', 'https://ferrarichat.com', target: '_blank', class: 'arrow-link'
      =link_to 'Next Stat', '#', class: 'ta-center fw stat next'
  .section
    .bg-num.sixth{ data: {'position' => '6'}}
      = image_tag('images/7000.svg')
    .section-content
      =link_to 'Previous Stat', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/motorbase.png', alt: 'Motorbase Logo'), 'http://motorbase.com', target: '_blank', class: 'section-logo'
        %h2 More than 7,000 comprehensive vehicle profiles and 100k+ curated car photos.
        %p Motorbase is the largest encyclopedia of cars for collector car enthusiasts ever built. Motorbase is the most comprehensive catalog of images and vehicle specifications for almost all collector car makes and models.
        =link_to 'Visit Motorbase', 'http://motorbase.com', target: '_blank', class: 'arrow-link'
      =link_to 'Next Stat', '#', class: 'ta-center fw stat next'
  .section
    .bg-num.seventh{ data: {'position' => '7'}}
      = image_tag('images/2019.svg')
    .section-content.lg
      =link_to 'Previous Stat', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/mtrs-blk.svg', alt: 'Motorious Logo'), '/', target: '_blank', class: 'section-logo'
        %h2 Coming soon in 2019.
        %p
          Motorsport Network and Speed Digital are joining forces and combining their most prestigious automotive brands and technology solutions to bring you the most comprehensive collector car platform; motorious.
          %br
          %span With over 1 million unique visitors per month and 2.8 billion dollars in vehicle inventory, motorious aims to dominate the collector car market by providing industry-leading content while simplifying the buying and selling of collector cars.
          %br
          %span Whether you were a loyal AutoClassics.com reader or were looking to buy your dream McLaren P1, motorious will be the go-to for all collector car enthusiasts, buyers and sellers.
          %br
          %span Motorious is a Motorsport Network Company
          %br
          %span Motorsport Network is the largest automotive and motorsport technology & digital media company in the world. Motorsport Network connects hundreds of millions of people around the world who love motorsport and cars.
        %li 260M+ pageviews per month
        %li 10M+ engaged social users
        %li 81 Countries
        %li 17 Languages
      =link_to 'Back To Top', '#', class: 'ta-center fw stat next top'
:javascript
  var __ss_noform = __ss_noform || [];
  setTimeout(function(){
    __ss_noform.push(['baseURI', 'https://app-3QNHP1TL0G.marketingautomation.services/webforms/receivePostback/MzawMDE3NjG2AAA/']);
    __ss_noform.push(['form', 'ss-submit', '884dcfc2-951a-406a-a750-d945d01b0f71']);
    __ss_noform.push(['submitType', 'manual']);
  }, 3000);
%script{type:"text/javascript", src:"https://koi-3QNHP1TL0G.marketingautomation.services/client/noform.js?ver=1.24"}

