---
title: Motorious
---

.wrapper
  .section.top.d-flx.evenly
    =link_to image_tag('images/motorious.svg', alt: 'Motorious Logo'), '/', class: 'mtrs-logo'
    %h1
      %span.bold
        The largest collector car marketplace.
      %br
      Content tailored to your passion.
    =link_to 'See the brands behind motorious', '#', class: 'ta-center fw stat next first'
  .expand
    %p.ta-center
      Request early access
    %form.req-form{:id => 'ss-submit'}
      %input{ :type => "radio", :name => "req_type", :value => "Shopper", checked: true, id: "shopper"}
      %label{ :for => "shopper" }
        Shopper
      %input{ :type => "radio", :name => "req_type", :value => "Reader", checked: false, id: "reader" }
      %label{ :for => "reader" }
        Reader
      %input{ :type => "email", :placeholder => 'Enter email', :required => true }
      %input{ :type => "submit" }
  .section
    .bg-num.first{ data: {'position' => '1'}}
      = image_tag('images/200+.svg')
    .section-content
      =link_to 'Back To Top', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/speeddigital.png', alt: 'Speed Digital Logo'), 'https://speeddigital.com', target: '_blank', class: 'section-logo'
        %h2 Over 200 of the top specialty dealers, auctions, and collectors on our leading dealer management software.
        %p Speed Digital is a technology software providor assisting those in the classic and collector car industry with inventory management, digital marketing, and wrbsite development.
        =link_to 'Visit Speed Digital', 'https://speeddigital.com', target: '_blank', class: 'arrow-link'
      =link_to 'Next Stat', '#', class: 'ta-center fw stat next'
  .section
    .bg-num.sec{ data: {'position' => '2'}}
      = image_tag('images/10k+.svg')
    .section-content
      =link_to 'Previous Stat', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/mcg.png', alt: 'My Classic Garage Logo'), 'https://myclassicgarage.com', target: '_blank', class: 'section-logo'
        %h2 Over 10,000 classic and specialty listings from the most trusted dealers and auctions in the industry.
        %p My Classic Garage is a classic and collector car marketplace publishing vehicles offered by vetted, established and knowledgeable experts in their field.
        =link_to 'Visit My Classic Garage', 'https://myclassicgarage.com', target: '_blank', class: 'arrow-link'
      =link_to 'Next Stat', '#', class: 'ta-center fw stat next'
  .section
    .bg-num.third{ data: {'position' => '3'}}
      = image_tag('images/40k+.svg')
    .section-content
      =link_to 'Previous Stat', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/ac.png', alt: 'Auto Classics Logo'), 'https://autoclassics.com', target: '_blank', class: 'section-logo'
        %h2 40k+ classic and specialty listings from across the world. With thousands of industry specific articles and buying guides.
        %p Auto Classics is a global marketplace and information hub for collector cars.
        =link_to 'Visit Auto Classics', 'https://autoclassics.com', target: '_blank', class: 'arrow-link'
      =link_to 'Next Stat', '#', class: 'ta-center fw stat next'
  .section
    .bg-num.fourth{ data: {'position' => '4'}}
      = image_tag('images/9000.svg')
    .section-content
      =link_to 'Previous Stat', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/motorgt.png', alt: 'Motor GT Logo'), 'https://motorgt.com', target: '_blank', class: 'section-logo'
        %h2 Over 9000 exotic, luxury, and race cars for sale.
        %p MotorGT is the most efficient way to advertise, connect, and sell your new and pre-owned vehicle to qualified in-market luxury shoppers.
        =link_to 'Visit Motor GT', 'https://motorgt.com', target: '_blank', class: 'arrow-link'
      =link_to 'Next Stat', '#', class: 'ta-center fw stat next'
  .section
    .bg-num.fifth{ data: {'position' => '5'}}
      = image_tag('images/12M.svg')
    .section-content
      =link_to 'Previous Stat', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/ferrarichat.png', alt: 'Ferrari Chat Logo'), 'https://ferrarichat.com', target: '_blank', class: 'section-logo'
        %h2 Over 12 million posts with 175k registered users.
        %p Established in 2000, FerrariChat is the biggest online Ferrari community in the world.
        =link_to 'Visit Ferrari Chat', 'https://ferrarichat.com', target: '_blank', class: 'arrow-link'
      =link_to 'Next Stat', '#', class: 'ta-center fw stat next'
  .section
    .bg-num.sixth{ data: {'position' => '6'}}
      = image_tag('images/7000.svg')
    .section-content
      =link_to 'Previous Stat', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/motorbase.png', alt: 'Motorbase Logo'), 'http://motorbase.com', target: '_blank', class: 'section-logo'
        %h2 More than 7,000 comprehensive vehicle profiles and 100k+ curated car photos.
        %p Motorbase is a comprehensive encyclopedia of cars for car enthusiasts. Our aim is to catalogue every make and model of car ever built.
        =link_to 'Visit Motorbase', 'http://motorbase.com', target: '_blank', class: 'arrow-link'
      =link_to 'Next Stat', '#', class: 'ta-center fw stat next'
  .section
    .bg-num.seventh{ data: {'position' => '7'}}
      = image_tag('images/2019.svg')
    .section-content
      =link_to 'Previous Stat', '#', class: 'ta-center fw stat prev'
      .section-content--text
        = link_to image_tag('images/mtrs-blk.svg', alt: 'Motorious Logo'), '/', target: '_blank', class: 'section-logo'
        %h2 Coming soon in 2019.
        %p The power and prestige of these industry-leading brands will combine to launch the world’s most comprehensive collector car platform.
      =link_to 'Back To Top', '#', class: 'ta-center fw stat next top'
:javascript
  var __ss_noform = __ss_noform || [];
  __ss_noform.push(['baseURI', 'https://app-3QNHP1TL0G.marketingautomation.services/webforms/receivePostback/MzawMDE3NjG2AAA/']);
  __ss_noform.push(['form', 'ss-submit', '2a3fd6a9-2bbb-4c66-a036-33b14f004ea5']);
  __ss_noform.push(['submitType', 'manual']);
%script{type:"text/javascript", src:"https://koi-3QNEHMXDUA.marketingautomation.services/client/noform.js?ver=1.24"}

